.footer {
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes {
    display: flex;
    align-items: center;
}

.redes img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    margin: 0 15px;
}

.logo {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

