.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; /* Espacio entre los botones y el logo */
    align-items: center; /* Alinea verticalmente */
    padding: 16px; /* Espaciado interno */
}

.nav-buttons {
    display: flex; /* Para alinear los botones horizontalmente */
}

.nav-buttons .boton {
    margin-right: 16px; 
}

.logo {
    max-width: 100px;
    width: 100%; 
    height: auto;
}
